.hotel-container{
	border: 1px solid black;
	margin-left: 75px;
	margin-top: 15px;
	padding-left: 10px;
	max-width: 400px;
	position: relative;
}

.hotel-name{
	font-size: 18pt;
	margin-top: 5px;
}

.hotel-location{

}

.hotel-free{

}

.add-button{
	margin-top: 15px;
	margin-left: 80px;
	margin-bottom: 40px;
}

.edit-button{
	right: 10px;
	bottom: 10px;
	position: absolute;
}