/* Basic Style */
body{
	margin: 0;
	padding: 0;
}
.container {
	margin: 0;
	padding: 0;
}


label.mobile_menu span {
	margin-left: 10px;
	color: white;
	display: none;
}

.nav {
 
	font-family: 'Orienta', sans-serif; 
	font-weight: 400; /* 400 thinner */
	font-size: 13px;
	line-height: 13px;

 
	position: relative;
	padding: 0 0 0 4px; /* Fix for inline-block spacing*/
	margin: 0;

 
    background-color: #43A047;
}


.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:focus, span {
	color: #fff;
	text-decoration: none;
}


.nav > li {
	display: inline-block;
	text-align: center;
	margin-left: -4px; /* For the inline-block spacing */
}



.nav > li > a {
	padding:20px 18px;
	display: block;
}

.nav > li:hover > a{
	color: #fff;
}

.nav > li:hover {
	background-color: #44B047;
}



.nav > li > ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:53px;
	background-color: #16a085;
	width: 200px;
	text-align: left;
	margin-top:30px;
	padding: 0px;
	z-index: 99;
}


.nav > li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}


.nav li > ul li {
	font-size: 11px;
	position: relative;
	display: block;
	padding: 15px 10px;
}

.nav > li > ul  li:hover {
	background-color: #006191;
}

.nav ul  li:hover > a {
	color: white;
}

.nav > li > ul li ul li:hover {
	background-color: #004b6f;
}input#mobile_menu { display: none; }

.nav > li > ul li ul li ul {
	background-color: #004b6f;
}

.nav > li > ul li ul li ul li:hover {
	background-color: #00344d;
}



.nav > li > .fulldrop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:53px;
	left: 0px;
	background-color: #16a085;
	width: 100%;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	padding: 0;
	z-index: 99;
	overflow: hidden;
}


.nav > li:hover .fulldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}

.nav ul li:hover:after {
	color: white;
}

.nav > li:hover .coldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}

.nav .coldrop .column {width: 130px;margin:0 9px;}



.nav .column {
	width: 14.1%;
	float: left;
	color:white;
	margin: 0 0 0 2.2%;
}

.nav .column ul {
	padding: 0;
	margin: 0;
}

.nav .column ul li {
	padding: 0;
	list-style: none;
	font-size: 11px;
}

.nav .column h3 {
	font-size: 14px;
	padding: 14px 0;
	font-weight: 400;
	margin: 5px 0 5px 0;
}

.nav .column ul li a {
	display: block;
	padding: 0 0 15px 0;
}

/* Arrows */
.nav > li.dropdown > a:after {
	 content: " \f107";
	 font-family: FontAwesome;
	 color: #fff;
}

.nav ul li.dropdown:after {

  position: absolute;
  left: 170px;
  font-family: FontAwesome;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  margin-top: 2px;
}


.nav > li.username-block {
	border:none;
	-webkit-box-shadow:  none;
    box-shadow:  none;
    float: right;
    padding: 11px 6px;
    position: relative;
}

.nav > li.username-block:hover {
	background-color: transparent;
}

.nav > li.username-block i {
	position: absolute;
	left: 20px;
	top:20px;
	color: #fff;
	font-size: 17px;
}

.username{
	display: inline;
	color: white;
	line-height: 30px;
}

.logout-button{
	display: inline;
	-moz-box-shadow:inset 0px 1px 0px 0px #00cc00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #00cc00;
	box-shadow:inset 0px 1px 0px 0px #00cc00;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #21c700), color-stop(1, #21c700));
	background:-moz-linear-gradient(top, #21c700 5%, #21c700 100%);
	background:-webkit-linear-gradient(top, #21c700 5%, #21c700 100%);
	background:-o-linear-gradient(top, #21c700 5%, #21c700 100%);
	background:-ms-linear-gradient(top, #21c700 5%, #21c700 100%);
	background:linear-gradient(to bottom, #21c700 5%, #21c700 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21c700', endColorstr='#21c700',GradientType=0);
	background-color:#21c700;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #21c900;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Orienta', sans-serif; 
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #15b800;
}

.logout-button:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #20be00), color-stop(1, #20be00));
	background:-moz-linear-gradient(top, #20be00 5%, #20be00 100%);
	background:-webkit-linear-gradient(top, #20be00 5%, #20be00 100%);
	background:-o-linear-gradient(top, #20be00 5%, #20be00 100%);
	background:-ms-linear-gradient(top, #20be00 5%, #20be00 100%);
	background:linear-gradient(to bottom, #20be00 5%, #20be00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#20be00', endColorstr='#20be00',GradientType=0);
	background-color:#20be00;
}

.logout-button:active{
	position:relative;
	top:1px;
}